h1
{
	text-align: center;
}
#content
{
	margin: auto;
	
}

form{
	text-align: center;
}
#content p
{
	font-family: "arial, helvetica, sans-serif";
	font-size: 14pt;
	text-align: center;
}

#butt input{
	width: 100px;
	height: 30px;
	background: cadetblue;
}